@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}
body{
  background-color: #F3C0C0;
}
/* Added Products */
.Producttag{
  text-align: center;
  font-weight: 600;
  font-size: xx-large;
  margin-bottom: 100px;
}

.ProductsCon{
  display: grid;
  grid-template-columns: 19% 19% 19%;
  justify-content: space-between;
  margin: auto;
  text-align: center;
}
.note{
  text-align: center;
  color: indianred;
  margin: 20px;
}
#seemore,#Location{
  color: grey;
}
hr{
  width: 90%;
  margin: auto;
  border: none;
  height: 2px;
  /* Set the hr color */
  color: #333;  /* old IE */
  background-color: #333;  /* Modern Browsers */
  
}
#productimg{
  width: 70%;
  height: 50%;
}
/* Services */
.container h1{
  text-align: center;
  font-weight: 600;
  font-size: xx-large;
  margin-top: 25px;
  margin-bottom: 25px;
}
.services{
  display: grid;
  grid-template-columns: 19% 19% 19%;
  justify-content: space-between;
  /* yung margin para pumasok lang sa box */
  margin-left: 100px;
  margin-bottom: 25px;
  margin-right: 100px;
}
.category li {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  padding: 5px 0;
  font-weight: bold;
}
.price {
  font-weight: bold;
  border-right: 5px sol;
}
.category h2{
  text-align: center;
}

/* Gallery */
.GalleryTag{
  text-align: center;
  font-weight: 600;
  font-size: xx-large;
  margin-top: 25px;
  margin-bottom: 25px;
}
.GalleryCon{
  display: grid;
  grid-template-columns: auto auto;
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;
}
.GalleryCon p {
  font-weight: bold;
  font-size: 17px;
  margin-bottom: 10px;
}
.NailCare{
  border: solid;
  border-left: none;
  border-top: none;
  border-bottom: none;
}
#galleryimg{
  width: 60%;
  height: 75%;
  box-shadow: 5px 5px 5px #474747;
}

/* FAQs */
.FaqsTag {
  text-align: center;
  font-weight: 600;
  font-size: xx-large;
  margin-top: 25px;
  margin-bottom: 25px;
}

.FAQsCon {
  width: 90%;
  max-width: 1000px;
  margin: 2rem auto;
}

.FAQs-item {
  background-color: white;
  margin: 1rem 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}

.FAQs-item-header {
  padding: 0.5rem 3rem 0.5rem 1rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  color: #474747;
}

.FAQs-item-header::after {
  content: "\002B";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  transition: transform 0.2s ease-out;
}

.FAQs-item-header.active::after {
  content: "\2212";
  transform: rotate(180deg);
}

.FAQs-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.FAQs-item-body-content {
  padding: 1rem;
  line-height: 1.5rem;
  color: #474747;
  border-top: 1px solid;
  border-image: linear-gradient(to right, transparent, #008f68, transparent) 1;
}

#Askquest{
  color: indianred;
}
/* .FAQs-item-header.active + .FAQs-item-body {
  max-height: 1000px; /* Adjust as needed for the content 
}
*/

/* ABOUT */
.AboutTag {
  text-align: center;
  font-weight: 600;
  font-size: xx-large;
  margin-top: 25px;
  margin-bottom: 25px;
}
.Subdetails{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  min-height: 3.5rem;
  line-height: 1.25rem;
}
.AboutCon{
  display: flex;
  justify-content: center;
  gap: 250px;
  margin-top: 50px;
  
}
.OwnerName h1{
  font-weight: bolder;
  font-size: xx-large;
  margin-bottom: 5px;
  min-height: 1.5rem;
  line-height: 3.25rem;
}
.OwnerName p{
  font-weight: 500;
  min-height: 1.5rem;
  line-height: 1.25rem;
}
.SalonTag{
  text-align: center;
  font-weight: 600;
  font-size: xx-large;
  margin-top: 25px;
  margin-bottom: 25px;
}
.ExactLoc{
  text-align: center;
  margin-bottom: 25px;
}
#ExactLoc{
  color: indianred;;
  text-align: center;
  align-content: center;
}
.FrontViewHairy{
  text-align: center;
  margin-bottom: 25px;
}
#FrontViewHairy{
  width: 60%;
  height: 75%;
}
.Details{
  margin-bottom: 25px;
  text-align: center;
}
.Logo{
  margin-top: 250px;
  text-align: center;
}
.Tag{
  margin-top: 100px;
  text-align: center;
  color: indianred;;
  
  font-size: xx-large;
}


header{
 position: absolute;
 /*position: relative;*/
 height: 100;
 width: 100%;
 padding-right: 15px;
 padding-left: 15px;
 display: flex;
 justify-content: space-between;
 align-items: center;
 z-index: 9999;
 /*background-color: #E5A3AD*/;
 
}

header .logo{
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: 600;
  font-size: xx-large;
  font-family: 'Philosopher', sans-serif;
  transition: .4s;
}
header .logo:hover{
  transform: scale(1.1);
}
header ul{
position: relative;
}

header ul li{
list-style: none;
float: left;
position: relative;
}


header ul li a {
   font-size: 1.1em;
   padding: 20px 25px;
   text-decoration: none;
   color: white;
   display: flex;
   justify-content: space-between;
   font-weight: 300;
   margin-right: 25px;
   transition: all .4s ease;
}
header ul li a:hover{
   color: black;
}

button{
  background-color: white;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
  padding: 12px;
  width: 80px;
  margin-top: 9px;
}
button a{
  color: black;
  font-weight: bold;
  font-size: 15px;
  text-decoration: none;
}
button:hover{
  background-color:#E5A3AD;
  transition: .4s;
}
/* responsive part*/

@media (max-width:1024px){
    header{
      padding: 10px;
    }
    header nav{
      position: absolute;
      width: 100%;
      top: 88px;
      left: 0;
      display: none;
    }
    header.active nav{
      display: block;
    }
    header ul li{
      width: 100%;
    }
    header ul li a{
      border: 1px solid white;
      position: relative;
      z-index: 3;
      font-weight: 800;
    }
    header ul li a:hover{
       color: black;
    }
    header ul li a:before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color:#b46f8c ;
      z-index: -1;
      opacity: .8;
    }
    header ul li #NavNum{
      width: fit-content;
      display: none;
    }

    /*menuToggle*/
    .menuToggle{
      position: relative;
      width: 230px;
      height: 50px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .menuToggle::before {
       content: '';
       position: absolute;
       width: 20%;
       height: 2px;
       margin-left: 70%;
       background: white;
       box-shadow: 0 10px white;
       transform: translateY(-12px);
    }
    .menuToggle::after {
      content: '';
      position: absolute;
      width: 20%;
      height: 2px;
      margin-left: 70%;
      background: white;
      transform: translateY(10px);
   }
   /*--active--*/
   header.active .menuToggle::before{
     transform: rotate(45deg);
     box-shadow: 0 0 white;
   }
   header.active .menuToggle::after{
    transform: rotate(315deg);
  }
   section.active{
      position: relative;
   }
   section.active:after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #474747;
      z-index: 1;
      opacity: .91;
   }
}
/*front*/
.sectionFirst{
    padding: 9rem 0% 20rem;
    position: relative;
    /*background-color: rgb(255, 255, 255);*/
    color: black;
    height: 100vh;
}
.sectionFirst::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*background-color: blue;*/
  z-index: -1;
  opacity: .7;
}
.sectionFirst::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*background-color: blue;*/
  background: url("LANDER.jpg");
  z-index: -1;
  opacity: .7;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.sectionFirst .FrontPage{
  padding: 0 2%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-direction: column;
  gap: 2rem;
  max-width: 60%;
  /* margin added */
  margin-bottom: 400px;
}
/* sunny brooke 2 */
.sectionFirst .FrontPage .address{
   color: white;
   font-size: 25px;
   line-height: 1.2em;
   font-family: 'Poppins', sans-serif;
}
.sectionFirst .FrontPage .headling{
    font-size: 3.24rem;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}
.sectionFirst .FrontPage .shit{

}
.sectionFirst .FrontPage .btn{
    margin-top: 3rem;
    display: flex;
    gap: 2rem;
}
.sectionFirst .FrontPage .btn a{
    border-radius: 7px;
    padding: 17px 30px;
    text-decoration: none;
}
.sectionFirst .FrontPage .btn a:nth-child(1){
   border: 1px solid rgb(0, 0, 0);
   background-color: #E5A3AD;
   color: azure;
  transition: all .4s ease;
}
.sectionFirst .FrontPage .btn a:nth-child(1):hover{
  border: 1px solid rgb(0, 0, 0);
  background-color: #000000;
}
.sectionFirst .FrontPage .btn a:nth-child(2){
  border: 1px solid rgb(0, 0, 0);
  background-color: #ccc9c9;
  color: rgb(0, 0, 0);
 transition: all .4s ease;
}
.sectionFirst .FrontPage .btn a:nth-child(2):hover{
  border: 1px solid rgb(0, 0, 0);
  background-color: #4d272c;
  color: rgb(0, 0, 0);
}

@media (max-width:1024px){}
@media (max-width:786px){
  .sectionFirst .FrontPage .btn{
    display: flex;
    flex-direction: column;
  }
}
@media (max-width:610px){
  .sectionFirst .FrontPage{
     max-width: 100%;
  }
}
@media (max-width:425px){}