@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}
body{
    background-color: #f7e8e8;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}
.Content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.Username label, .Username input, .Password label, .Password input{
    display: flex;
    flex-direction: column;
}

.Username input, .Password input{
    height: 40px;
    width: 550px;
    border-radius: 6px;
    border: none;
    background-color: #ebe8e8;
}
.Username label, .Password label{
    font-size: medium;
    font-weight: 600;
}

.Username, .Password, .ForgotPassword, .LoginBtn{
    margin-bottom: 15px;
}

#LoginBtn{
    background-color: #F3C0C0;
    border: none;
    height: 40px;
    width: 550px;
    border-radius: 6px;
}
.LoginBtn a {
    text-decoration: none;
    color: black;
    font-size: medium;
    font-weight: 600;
    margin: 0;
}
.LoginTag{
    font-size: xx-large;
    font-weight: bold;
}

.ForgotPassword a{
    text-decoration: none;
    color: #44B7FA;
    font-weight: 600;
}
.NoAccount a{
    text-decoration: none;
    color: #44B7FA;
    font-weight: 500;
}
.NoAccount p{
    color:  #e07676;
    font-weight: 500;
    text-align: center;
}

