@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  position: relative;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.SignupTag{
  font-size: xx-large;
  font-weight: bold;
}

.Email, 
.PhoneNumber, 
.Password, 
.ConfirmPassword {
  display: flex;
  flex-direction: column;
}

.Email, 
.PhoneNumber, 
.Password, 
.ConfirmPassword,
.FullName
{
  margin-bottom: 15px;
}
.Email label,
.PhoneNumber label,
.Password label,
.ConfirmPassword label,
.Firstname label,
.Lastname label{
  font-size: medium;
  font-weight: 600;
}
.Email input,
.PhoneNumber input,
.Password input,
.ConfirmPassword input,
.Firstname input,
.Lastname input{
  height: 40px;
  border-radius: 6px;
  border: none;
  background-color: #ebe8e8;
}
.Email input,
.PhoneNumber input,
.Password input,
.ConfirmPassword input{
  width: 550px;
}
.Firstname input,
.Lastname input{
  width: 260px;
}
  
.FullName {
  display: flex;
  gap: 30px;
}

.FullName .Firstname, 
.FullName .Lastname {
  display: flex;
  flex-direction: column;
}
#Signupbtn{
  background-color: #F3C0C0;
  border: none;
  height: 40px;
  width: 550px;
  border-radius: 6px;
  margin-bottom: 15px;
}
.SignupBtn button{
  text-decoration: none;
  color: black;
  font-size: medium;
  font-weight: 600;
  margin: 0;
}
.SignupBtn, .HaveAccount{
  text-align: center;
}
.HaveAccount a{
  text-decoration: none;
  color: #44B7FA;
  font-weight: 500;
}
.HaveAccount p{
  color:  #e07676;
  font-weight: 500;
  text-align: center;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0; 
}

.Confirmation{
  position: absolute;
  text-align: center;
  display: none;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 6px;
  padding:  50px 50px 50px;
}
.VerifyTag p ,.Details p{
  color: white;

}
.VerifyTag p{
  font-size: xx-large;
}
.Details p{
  font-size: 20px;
}
.codeinput,
.ResendCode,
.Details,
.VerifyTag
{
  margin-bottom: 15px;
}
#Submitbtn{
  background-color: #F3C0C0;
  border: none;
  height: 40px;
  width: 250px;
  border-radius: 6px;
}
.SubmitBtn a{
  text-decoration: none;
  color: black;
  font-size: medium;
  font-weight: 600;
  margin: 0;
}
#ResendCode{
  color: #e07676;
}
.codeinput input{
  height: 50px;
  width: 45px;
  margin: 10px;
  border-radius: 6px;
  border: none;
  background-color:#F3C0C0;
}